.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

.Close {
    font-size: 15px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    color: #fff;
    top: -20px;
    right: -15px;
    padding: 10px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}